// todo автофокус на полі у модалці - через JS
// todo закріпити хедер при прокрутці

// Змінні
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/mixin';

// Нормалізація стилів
@import './base/modern-normalize';
@import './base/project-normalize';

// Загальні компоненти
@import './components/hidden';
@import './components/buttons';
@import './components/container';
@import './components/section';
@import './components/logo';
@import './components/socials';
@import './components/backdrop';

// Капелюх
@import './layout/header';
@import './layout/mobile-menu';

// Головна сторінка
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';

// Нижній колонтитул
@import './layout/footer';

// Модальні вікна
@import './layout/modal-buy';
@import './layout/modal-ingredients';
@import './layout/modal-made';
@import './layout/modal-locations';
@import './layout/modal-franchise';
