/* ========== VARIABLES ========== */
$font-main: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;
$font-title: 'Seymour One', sans-serif;

$text-simple-dark-color: #000;
$text-dark-color: #131313;
$text-light-color: #fcfcfc;
$text-address-color: #d6936d;

$bg-text-color: rgba(248, 210, 78, 0.1);
$text-color: #131313;

$brand-main-color: #84a178;
$brand-second-color: #f8d24e;

$trasparent-color: rgba(255, 255, 255, 0);

$card-first-color: #aec6a5;
$card-second-color: #efd478;
$card-third-color: #d6936d;

$focus-color: #0a8817;
$disabled-color: #ababab;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$border-color: #e1e1e1;
/* ========== /VARIABLES ========== */
