/* ========== VARIABLES ========== */
$font-main: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;
$font-title: 'Seymour One', sans-serif;

$text-simple-dark-color: #000;
$text-dark-color: #131313;
$text-light-color: #FCFCFC;
$text-address-color: #D6936D;

$bg-text-color: rgba(248, 210, 78, 0.1);

$brand-main-color: #84A178;
$brand-second-color: #F8D24E;

$card-first-color: #AEC6A5;
$card-second-color: #EFD478;
$card-third-color: #D6936D;

$focus-color: #0A8817;
$nonactive-color: #ABABAB;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* ========== /VARIABLES ========== */