<section class="section__advantages">
  <h2 class="hidden">advantages</h2>
  <div class="container">
    <ul class="advantages">
      <li class="advantages__item">
        <svg class="advantages__img">
          <use href="./images/icons.svg#advantages-cow"></use>
        </svg>

        <p class="advantages__title">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__img">
          <use href="./images/icons.svg#advantages-weight"></use>
        </svg>

        <p class="advantages__title">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__img">
          <use href="./images/icons.svg#advantages-ice-crema"></use>
        </svg>

        <p class="advantages__title">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
