<section class="section">
  <h2 class="hidden">advantages</h2>
  <div class="container advantages">
    <ul class="advantages__list">
      <li class="advantages__item">
        <picture class="advantages__img">
          <source
            srcset="
              ./images/Advantages/cow-1x-min.png 1x,
              ./images/Advantages/cow-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/Advantages/cow-1x-min.png 1x,
              ./images/Advantages/cow-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/Advantages/cow-1x-min.png 1x,
              ./images/Advantages/cow-2x-min.png 2x
            "
            src="./images/Advantages/cow-1x-min.png"
            width="50"
            height="50"
            alt="image"
            loading="lazy"
          />
        </picture>
        <h2 class="advantages__title">721</h2>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <picture class="advantages__img">
          <source
            srcset="
              ./images/Advantages/weight-1x-min.png 1x,
              ./images/Advantages/weight-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/Advantages/weight-1x-min.png 1x,
              ./images/Advantages/weight-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/Advantages/weight-1x-min.png 1x,
              ./images/Advantages/weight-2x-min.png 2x
            "
            src="./images/Advantages/weight-1x-min.png"
            width="50"
            height="50"
            alt="image"
            loading="lazy"
          />
        </picture>
        <h2 class="advantages__title">16kg</h2>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <picture class="advantages__img">
          <source
            srcset="
              ./images/Advantages/icecream-1x-min.png 1x,
              ./images/Advantages/icecream-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/Advantages/icecream-1x-min.png 1x,
              ./images/Advantages/icecream-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/Advantages/icecream-1x-min.png 1x,
              ./images/Advantages/icecream-2x-min.png 2x
            "
            src="./images/Advantages/icecream-1x-min.png"
            width="50"
            height="50"
            alt="image"
            loading="lazy"
          />
        </picture>
        <h2 class="advantages__title">84</h2>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
