<section class="section">
  <div class="container">
    <div class="container_contacts" id="contacts">
      <h2 class="hidden">Contacts</h2>

      <ul class="contacts">
        <li class="contacts__item">
          <h2 class="contacts__title">CAFE</h2>

          <p class="contacts__address-title">Chicago</p>
          <a
            class="contacts__address-map"
            href="https://goo.gl/maps/GeLTcXtnLmFQyJU29"
            target="_blank"
            rel="noreferrer noopener"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
          <ul class="contacts__schedule">
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Monday - Friday</p>
              <p class="contacts__schedule-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Saturday - Sunday</p>
              <p class="contacts__schedule-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <a class="contacts__tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="contacts__item">
          <h2 class="contacts__title">FOODTRUCK</h2>

          <p class="contacts__address-title">Los Angeles</p>
          <a
            class="contacts__address-map"
            href="https://goo.gl/maps/GeLTcXtnLmFQyJU29"
            target="_blank"
            rel="noreferrer noopener"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
          <ul class="contacts__schedule">
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Monday - Friday</p>
              <p class="contacts__schedule-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Saturday - Sunday</p>
              <p class="contacts__schedule-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <a class="contacts__tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="contacts__item">
          <h2 class="contacts__title">CAFE</h2>

          <p class="contacts__address-title">New York</p>
          <a
            class="contacts__address-map"
            href="https://goo.gl/maps/GeLTcXtnLmFQyJU29"
            target="_blank"
            rel="noreferrer noopener"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
          <ul class="contacts__schedule">
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Monday - Friday</p>
              <p class="contacts__schedule-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Saturday - Sunday</p>
              <p class="contacts__schedule-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <a class="contacts__tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>

    <div class="contact-btn">
      <button
        class="btn-filled btn-filled--big"
        type="button"
        data-modal-location-open
      >
        Our Locations&nbsp;&nbsp;&nbsp;&#x276F;
      </button>
      <button
        class="btn-border .btn-border--big"
        type="button"
        data-modal-franchise-open
      >
        Franchise&nbsp;&nbsp;&nbsp;&#x276F;
      </button>
    </div>
  </div>
</section>
