<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__titles">
        <p class="footer__sub-title">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="socials socials--position">
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.github.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="socials__icon">
                <use href="./images/icons.svg#subscribe-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.telegram.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="socials__icon">
                <use
                  class="socials__img"
                  href="./images/icons.svg#subscribe-telegram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="socials__icon">
                <use href="./images/icons.svg#subscribe-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <span class="footer__tel-text">
          Feel free to contact&nbsp;
          <a href="tel:+610383766284" class="footer__tel-link">
            +61 (0) 383 766 284
          </a></span
        >
      </div>
    </div>
  </div>
  <div class="footer__copyright-box">
    <p class="footer__copyright">&copy; 2022 - IceCream.</p>
    <p class="footer__copyright">All Rights Reserved.</p>
  </div>
</footer>
