<footer class="footer">
  <div class="footer-container container">
    <div class="footer-desc">
      <p class="footer-desc__first-part">homemade ice cream made</p>
      <span class="footer-desc__second-part">with passion</span>
    </div>

    <div class="footer-social">
      <ul class="socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.github.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.telegram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="socials__icon">
              <use
                class="socials__img"
                href="./images/icons.svg#telegram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer-contacts">
        <span class="footer-contacts__desc"> Feel free to contact&nbsp; </span>
        <a href="tel:+61(0)383766284" class="footer-contacts__link">
          +61 (0) 383 766 284
        </a>
      </div>
    </div>
  </div>
  <p class="footer-finally-desc container">
    <span class="copyright">&copy; 2022 - IceCream.</span> All Rights Reserved.
  </p>
</footer>
