<section>
  <div class="container">
    <!-- svg or img? -->
    <div class="header">
      <svg class="logo">
        <use href="./images/icons.svg#logo" class="logo__icon"></use>
      </svg>

      <nav class="nav">
        <ul class="menu">
          <li class="menu__item">Home</li>
          <li class="menu__item">About us</li>
          <li class="menu__item">How it's made?</li>
          <li class="menu__item">Our products</li>
          <li class="menu__item">Contac</li>
        </ul>
      </nav>
      <button type="button" class="btn btn__header">
        Buy now&nbsp;&nbsp;&nbsp;&nbsp;&#x276F;
        <!-- <svg class="btn__arrow">
          <use href="./images/icons.svg#arrow-angle" class="btn__icon"></use>
        </svg> -->
      </button>
    </div>
  </div>
</section>
