<section class="section hero" id="home">
  <div class="container ">
    <div class="main-title-wrapper">
      <div class="main-title-inner">
        <h1 class="main-title">
          ice cream made with
          <span class="main-title__accent">passion</span>
        </h1>
        <ul class="hero-btn-wrapper">
          <li>
            <a class="btn-border_m" href="#products">Products</a>
          </li>
          <li>
            <a class="btn-underline_m" href="#advantages">How it’s made?</a>
          </li>
        </ul>


        <!-- <div>
          <a class="hero-btn" href="#products">Products</a>
          <a class="hero-btn-2" href="#about">How it’s made?</a>
        </div> -->
      </div>

      <div class="trade-network">
        <ul class="trade-network__list">
          <li class="trade-network__item">
            <p class="trade-network__info">
              <span class="trade-network__accent">16</span>
              cafes
            </p>
          </li>
          <li class="trade-network__item">
            <p class="trade-network__info">
              <span class="trade-network__accent">23</span>
              food trucks
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="picture-wrapper">
      <picture class="hero__picture-main">
        <source srcset="
            ./images/desctop/hero-icecream01-1x-min.png 1x,
            ./images/desctop/hero-icecream01-2x-min.png 2x,
            ./images/desctop/hero-icecream01-3x-min.png 3x
          " media="(min-width: 1200px)" type="image/png" />

        <source srcset="
            ./images/tablet/hero-icecream01-1x-min.png 1x,
            ./images/tablet/hero-icecream01-2x-min.png 2x,
            ./images/tablet/hero-icecream01-3x-min.png 3x
          " media="(min-width: 768px)" type="image/png" />

        <source srcset="
            ./images/mobile/hero-icecream01-1x-min.png 1x,
            ./images/mobile/hero-icecream01-2x-min.png 2x,
            ./images/mobile/hero-icecream01-3x-min.png 3x
          " media="(max-width: 767px)" type="image/png" />

        <img src="./images/mobile/hero-icecream01-1x-min.png" alt="ice-cream" />
      </picture>

      <picture class="hero__picture-dots">
        <source srcset="
            ./images/desctop/points-1x-min.png 1x,
            ./images/desctop/points-2x-min.png 2x,
            ./images/desctop/points-3x-min.png 3x
          " media="(min-width: 1200px)" type="image/png" />

        <source srcset="
            ./images/tablet/points-1x-min.png 1x,
            ./images/tablet/points-2x-min.png 2x,
            ./images/tablet/points-3x-min.png 3x
          " media="(min-width: 768px)" type="image/png" />

        <source srcset="
            ./images/mobile/points-1x-min.png 1x,
            ./images/mobile/points-2x-min.png 2x,
            ./images/mobile/points-3x-min.png 3x
          " media="(max-width: 767px)" type="image/png" />

        <img src="./images/mobile/points-1x-min.png" alt="dots" />
      </picture>
    </div>

    <div class="product-deck">
      <picture class="hero__picture-second">
        <source srcset="
            ./images/desctop/hero-icecream02-1x-min.png 1x,
            ./images/desctop/hero-icecream02-2x-min.png 2x,
            ./images/desctop/hero-icecream02-3x-min.png 3x
          " media="(min-width: 1200px)" type="image/png" />

        <source srcset="
            ./images/tablet/hero-icecream02-1x-min.png 1x,
            ./images/tablet/hero-icecream02-2x-min.png 2x,
            ./images/tablet/hero-icecream02-3x-min.png 3x
          " media="(min-width: 768px)" type="image/png" />

        <img src="./images/tablet/hero-icecream02-1x-min.png" alt="dots" />
      </picture>
      <div class="info-wrapper">
        <p class="hero__info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#" class="hero__link"> </a>
      </div>
    </div>
  </div>
</section>