<section class="section hero">
  <div class="container">
    <div class="main-title-wrapper">
      <div class="main-title-inner">
        <h1 class="main-title">
          ice cream made with
          <span class="main-title__accent">passion</span>
        </h1>
        <ul class="hero-btn-wrapper">
          <li>
            <a class="btn-border_m" href="#products">Products</a>
          </li>
          <li>
            <a class="btn-underline_m" href="#advantages">How it's made?</a>
          </li>
        </ul>
      </div>

      <div class="trade-network">
        <ul class="trade-network__list">
          <li class="trade-network__item">
            <p class="trade-network__info">
              <span class="trade-network__accent">16</span>
              cafes
            </p>
          </li>
          <li class="trade-network__item">
            <p class="trade-network__info">
              <span class="trade-network__accent">23</span>
              food trucks
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="picture-wrapper">
      <picture class="hero__picture-main">
        <source
          srcset="
            ./images/desctop/desc-hero-icecream01-1x-min.png 1x,
            ./images/desctop/desc-hero-icecream01-2x-min.png 2x,
            ./images/desctop/desc-hero-icecream01-3x-min.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/tablet/tablet-hero-icecream01-1x-min.png 1x,
            ./images/tablet/tablet-hero-icecream01-2x-min.png 2x,
            ./images/tablet/tablet-hero-icecream01-3x-min.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/mobile/mobile-hero-icecream01-1x-min.png 1x,
            ./images/mobile/mobile-hero-icecream01-2x-min.png 2x,
            ./images/mobile/mobile-hero-icecream01-3x-min.png 3x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img
          src="./images/desctop/desc-hero-icecream01-1x-min.png"
          alt="ice-cream01"
        />
      </picture>

      <picture class="hero__picture-dots">
        <source
          srcset="
            ./images/desctop/desc-points-1x-min.png 1x,
            ./images/desctop/desc-points-2x-min.png 2x,
            ./images/desctop/desc-points-3x-min.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/tablet/tablet-points-1x-min.png 1x,
            ./images/tablet/tablet-points-2x-min.png 2x,
            ./images/tablet/tablet-points-3x-min.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/mobile/mobile-points-1x-min.png 1x,
            ./images/mobile/mobile-points-2x-min.png 2x,
            ./images/mobile/mobile-points-3x-min.png 3x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img src="./images/desctop/desc-points-1x-min.png" alt="dots" />
      </picture>
    </div>

    <div class="product-deck">
      <picture class="hero__picture-second">
        <source
          srcset="
            ./images/desctop/desc-hero-icecream02-1x-min.png 1x,
            ./images/desctop/desc-hero-icecream02-2x-min.png 2x,
            ./images/desctop/desc-hero-icecream02-3x-min.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/tablet/tablet-hero-icecream02-1x-min.png 1x,
            ./images/tablet/tablet-hero-icecream02-2x-min.png 2x,
            ./images/tablet/tablet-hero-icecream02-3x-min.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <img
          src="./images/desctop/desc-hero-icecream02-1x-min.png"
          alt="icecream02"
        />
      </picture>
      <div class="info-wrapper">
        <p class="hero__info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#" class="hero__link"> </a>
      </div>
    </div>
  </div>
</section>
