<section class="section section__hero">
  <!-- <div class="container__hero--no"> -->
  <div class="bg-points"></div>
  <div class="bg-cone"></div>
  <!-- </div> -->
  <div class="container container__hero">
    <div class="hero-up">
      <div>
        <h1 class="hero-up__title">
          ice cream made with
          <span class="hero-up__title--accent">passion</span>
        </h1>
        <ul class="hero-up__btn-box">
          <li>
            <a
              href="#products"
              class="btn-border btn-border--small btn-border__hero-up"
              >Products</a
            >
          </li>

          <li>
            <a href="#advantages" class="btn-underline btn-underline--small"
              >How it's made?</a
            >
          </li>
        </ul>
      </div>

      <ul class="shops">
        <li class="shops__item">
          <p class="shops__qty">16</p>
          <p class="shops__type">cafes</p>
        </li>
        <li class="shops__item">
          <p class="shops__qty">23</p>
          <p class="shops__type">food trucks</p>
        </li>
      </ul>
    </div>

    <div class="hero-down">
      <div class="bg-plate"></div>
      <div>
        <p class="hero-down__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="btn-arrow">
          <svg class="btn-arrow__icon btn-arrow__icon--hero">
            <use href="./images/icons.svg#arrow-default"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
