<div class="mobile-menu-box" data-menu>
  <div class="container container__mobile-menu">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="#home" class="mobile-menu__link" data-menu-close-home>Home</a>
      </li>
      <li class="mobile-menu__item">
        <a
          href="#about"
          class="mobile-menu__link"
          data-menu-close-advantages
          >How it's made?</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#products" class="mobile-menu__link" data-menu-close-products
          >Our products</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts" class="mobile-menu__link" data-menu-close-contacts
          >Contact</a
        >
      </li>
    </ul>
    <button
      type="button"
      class="btn-filled btn-filled--hide"
      data-modal-buy-open-mob
      data-menu-close-order
    >
      Buy now&nbsp;&nbsp;&nbsp;&nbsp;&#x276F;
    </button>

    <button type="button" class="menu-close menu-close--menu" data-menu-close>
      <svg class="menu-close__icon">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
  </div>
</div>
