<div class="mobile-menu-box" data-menu>
  <div class="container container__mobile-menu">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="#home" class="mobile-menu__link" data-menu-close-home>Home</a>
      </li>
      <!-- <li class="mobile-menu__item">
        <a href="./index.html#about" class="mobile-menu__link" data-menu-close>About us</a>
      </li> -->
      <li class="mobile-menu__item">
        <a
          href="#advantages"
          class="mobile-menu__link"
          data-menu-close-advantages
          >How it's made?</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#products" class="mobile-menu__link" data-menu-close-products
          >Our products</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts" class="mobile-menu__link" data-menu-close-contacts
          >Contact</a
        >
      </li>
    </ul>
    <button
      type="button"
      class="btn-filled btn-filled--hide"
      data-modal-buy-open-mob
      data-menu-close-order
    >
      Buy now&nbsp;&nbsp;&nbsp;&nbsp;&#x276F;
    </button>
    <button type="button" class="btn-mobile-close" data-menu-close>
      <picture>
        <source
          srcset="
            ./images/svgs/btn-mobile-close-1x.png 1x,
            ./images/svgs/btn-mobile-close-2x.png 2x,
            ./images/svgs/btn-mobile-close-3x.png 3x
          "
          media="(max-width: 1199px)"
        />
        <img
          src="./images/svgs/btn-mobile-close-1x.png"
          alt="close menu"
          class="btn-mobile-close__icon"
        />
      </picture>
    </button>
  </div>
</div>
<script src="./js/modal.js"></script>
