<div class="backdrop is-hidden " data-modal-location>
  <div class="modal-locations">
    <button type="button" class="modal-close-btn" data-modal-location-close>
      <svg class="modal-close-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>

    <p class="modal-locations__title">Our Locations</p>
    <div class="modal-locations__map-viwer">
      <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30587.197684838127!2d-118.31377934313463!3d33.95932803678687!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b62e4b5f38ef%3A0x5a0671d0abe81355!2zODQyNSBTIFdlc3Rlcm4gQXZlLCBMb3MgQW5nZWxlcywgQ0EgOTAwNDcsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1662459448173!5m2!1sru!2sua"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <a class="modal-locations__map-btn" target="_blank" href="https://goo.gl/maps/FdNQz195SRCgD6Wx7">Open
      map</a>

  </div>
</div>