<!-- --------------------------------------modal-window------------------------------------------------------------ -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="menu-close" data-modal-close>
      <svg class="menu-close__icon">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <h2 class="modal__title">How it’s made?</h2>
    <video class="video" controls>
      <source src="/src/video/video1.mp4" type="video/mp4" />
    </video>

    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
