<section class="products" id="products">
  <div class="container">
    <p class="section__sub-title section__sub-title--products-position">
      100% natural
    </p>
    <h2 class="section__title section__title--products-position">products</h2>

    <ul class="products-cards">
      <li class="products-cards__item">
        <div class="products-cards__box-img">
          <div class="products-cards__img"></div>
        </div>

        <h3 class="products-cards__title">ice cream</h3>

        <p class="products-cards__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>

        <button type="button" class="btn-arrow" data-modal-ingredients1-open>
          <svg class="btn-arrow__icon">
            <use href="./images/icons.svg#arrow-default"></use>
          </svg>
        </button>
      </li>

      <li class="products-cards__item products-cards__item--second">
        <div class="products-cards__box-img">
          <div class="products-cards__img"></div>
        </div>

        <h3 class="products-cards__title">ice coffee</h3>

        <p class="products-cards__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button type="button" class="btn-arrow" data-modal-ingredients2-open>
          <svg class="btn-arrow__icon">
            <use href="./images/icons.svg#arrow-default"></use>
          </svg>
        </button>
      </li>

      <li class="products-cards__item products-cards__item--third">
        <div class="products-cards__box-img">
          <div class="products-cards__img"></div>
        </div>

        <h3 class="products-cards__title">milkshakes</h3>

        <p class="products-cards__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button type="button" class="btn-arrow" data-modal-ingredients3-open>
          <svg class="btn-arrow__icon">
            <use href="./images/icons.svg#arrow-default"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
