<div class="bg-two-sections">
  <section class="section section__gallery">
    <div class="container">
      <h2 class="hidden">gallery</h2>

      <div class="gallery-box">
        <div class="gallery">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/desctop/desc-gallery01-1x-min.jpg 1x,
                ./images/desctop/desc-gallery01-2x-min.jpg 2x,
                ./images/desctop/desc-gallery01-3x-min.jpg 3x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/tablet/tablet-gallery01-1x-min.jpg 1x,
                ./images/tablet/tablet-gallery01-2x-min.jpg 2x,
                ./images/tablet/tablet-gallery01-3x-min.jpg 3x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/mobile/mobile-gallery01-1x-min.jpg 1x,
                ./images/mobile/mobile-gallery01-2x-min.jpg 2x,
                ./images/mobile/mobile-gallery01-3x-min.jpg 3x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              src="./images/desctop/desc-gallery01-1x-min.jpg"
              alt="gallery01"
            />
          </picture>
        </div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </section>

  <section class="section section__reviewers">
    <div class="container">
      <h2 class="section__title hidden">Reviewers</h2>

      <div class="reviewer-slider">
        <div class="reviewers">
          <img
            srcset="
              ./images/reviewers/reviewer01-2x-min.png 2x,
              ./images/reviewers/reviewer01-3x-min.png 3x
            "
            class="reviewers__img"
            src="./images/reviewers/reviewer01-1x-min.png"
            alt="reviewer01"
          />
          <p class="reviewers__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviewers__title">Emily, Los Angeles</p>
        </div>

        <div class="reviewers">
          <img
            srcset="
              ./images/reviewers/reviewer02-2x-min.png 2x,
              ./images/reviewers/reviewer02-3x-min.png 3x
            "
            class="reviewers__img"
            src="./images/reviewers/reviewer02-1x-min.png"
            alt="reviewer02"
          />
          <p class="reviewers__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="reviewers__title">Diana, Chicago</p>
        </div>

        <div class="reviewers">
          <img
            srcset="
              ./images/reviewers/reviewer03-2x-min.png 2x,
              ./images/reviewers/reviewer03-3x-min.png 3x
            "
            class="reviewers__img"
            src="./images/reviewers/reviewer03-1x-min.png"
            alt="reviewer03"
          />
          <p class="reviewers__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p class="reviewers__title">Sam, Los Angeles</p>
        </div>

        <div class="reviewers">
          <img
            srcset="
              ./images/reviewers/reviewer04-2x-min.png 2x,
              ./images/reviewers/reviewer04-3x-min.png 3x
            "
            class="reviewers__img"
            src="./images/reviewers/reviewer04-1x-min.png"
            alt="reviewer04"
          />
          <p class="reviewers__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="reviewers__title">Bryan, New-York</p>
        </div>
      </div>
    </div>
  </section>
</div>
