<ul class="socials">
  <li class="socials__item">
    <a
      class="socials__link"
      href="https://www.github.com/"
      target="_blank"
      rel="noreferrer noopener nofollow"
    >
      <svg class="socials__icon">
        <use href="./images/icons.svg#github"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a
      class="socials__link"
      href="https://www.telegram.com/"
      target="_blank"
      rel="noreferrer noopener nofollow"
    >
      <svg class="socials__icon">
        <use class="socials__img" href="./images/icons.svg#telegram"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a
      class="socials__link"
      href="https://www.facebook.com/"
      target="_blank"
      rel="noreferrer noopener nofollow"
    >
      <svg class="socials__icon">
        <use href="./images/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
</ul>
