/* === LOGO === */
.logo {
  z-index: 16;
}

.logo__image {
  width: 40px;
  height: 37px;
  fill: $brand-second-color;
  transition: scale $transition;

  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: $desctop) {
    width: 55px;
    height: 60px;
  }

  &:hover,
  &:focus {
    scale: 1.3;
  }
}

/* === /LOGO === */
