/* === SOCIALS === */
.socials {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.socials__item {
  // display: flex;
}

.socials__link {
  display: flex;
  width: 32px;
  height: 32px;
  color: $brand-main-color;

  transition: color $transition;
  &:hover {
    color: $text-light-color;
  }

  &:focus {
    color: $text-light-color;
    scale: 1.3;
  }
}

.socials__icon {
  fill: currentColor;
  // width: 32px;
  // height: 32px;
}

/* === /SOCIALS === */
