/* === SOCIALS === */
.socials__link {
  display: flex;
  width: 32px;
  height: 32px;
  color: $brand-main-color;
  scale: 1;

  transition: color $transition;
  &:hover {
    color: $text-light-color;
  }

  &:focus {
    color: $text-light-color;
    scale: 1.5;
  }
}

.socials__icon {
  fill: currentColor;
  // width: 32px;
  // height: 32px;
}

/* === /SOCIALS === */
