/* === SOCIALS === */
.socials__link {
  display: flex;
  width: 32px;
  height: 32px;
  color: $brand-main-color;

  transition: color $transition;
  &:hover {
    color: $text-light-color;
  }

  &:focus {
    color: $text-light-color;
    width: 38px;
    height: 38px;
  }
}

.socials__icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

/* === /SOCIALS === */
