.about {
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 60px;
  }
}

.container__about {
  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section__sub-title--about-decor {
  margin-bottom: 12px;
  color: $text-light-color;
}

.section__title--about-decor {
  width: 100%;
  max-width: 200px;
  margin: auto;
  margin-bottom: 32px;
  color: $text-light-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 72px;
    max-width: inherit;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.about__wrapper {
  display: flex;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
  }
}

.about__box-img {
  position: relative;
  display: flex;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 62px;

  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

  background-color: rgba(248, 210, 78, 0.7);

  @media screen and (min-width: $tablet) {
    width: 334px;
    height: 334px;
    margin-bottom: 22px;
    margin-right: 32px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
  }

  @media screen and (min-width: $desktop) {
    width: 500px;
    height: 500px;
    margin-bottom: 40px;
    margin-right: 100px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}

.about__img {
  position: absolute;
  display: flex;
  top: 22px;
  left: 0;

  width: 100%;
  height: 100%;

  background-size: cover;

  background-image: url('../images/mobile/mobile-about-cow-1x-min.png');

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    top: 40px;
  }
}

.about-text {
  width: 100%;
  max-width: 220px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    max-width: 336px;
    margin-bottom: auto;
  }

  @media screen and (min-width: $desktop) {
    max-width: 464px;
    margin-bottom: 48px;
  }
}

.about-text__item:not(:last-child) {
  margin-bottom: 8px;
}

.about-text__text {
  @include font(400, 12px, 21px);
  text-align: center;
  color: $text-light-color;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
  @media screen and (min-width: $desktop) {
    @include font(400, 16px, 28px);
  }
}

.about-text__text--hidden {
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }
}

.about__wrapper-second {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
  }
}

.btn-filled--about-position {
  @media screen and (max-width: $tablet) {
    margin: auto;
  }
}
