.advantages__list {
  gap: 34px;
  padding-top: 40px;
  padding-bottom: 36px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desctop) {
    padding-bottom: 86px;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: $text-light-color;
}

.advantages__img {
  width: 50px;
  height: 50px;

  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desctop) {
    margin-bottom: 40px;
  }
}

.advantages__item {
  text-align: center;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.advantages__item:not(:last-child) {
  margin-bottom: 28px;
}

.advantages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-light-color;
  margin-bottom: 18px;
}

//
//
//
// ============MOBILE============
//
//
//

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

// ============/MOBILE============
//
//
//
//
// ============TABLET============

@media screen and (min-width: 768px) {
  .advantages {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__item {
    text-align: center;
  }

  .advantages__list {
    display: flex;
    gap: 80px;
    padding-top: 60px;

    padding-left: 44px;
    padding-right: 44px;
  }

  .advantages__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-light-color;
    margin-bottom: 16px;
  }

  .advantages__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    letter-spacing: 0.02em;
    color: $text-light-color;
  }

  .advantages__img {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
}

//============/TABLET============
//
//
//
//
//============DESKTOP============

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__list {
    gap: 32px;
    padding-top: 60px;

    padding-left: 0;
    padding-right: 0;
  }

  .advantages__img {
    margin-bottom: 40px;
  }

  .advantages__title {
    font-size: 58px;
    line-height: 1.22;
    margin-bottom: 16px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

//============/DESKTOP============
