@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desctop) {
}

.section__advantages {
  padding-top: 40px;
  padding-bottom: 36px;

  @media screen and (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desctop) {
    padding-top: 50px;
    padding-bottom: 88px;
  }
}

.container__advantages {
  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages {
  width: 100%;
  display: flex;
  text-align: center;
  margin: auto;

  @media screen and (max-width: ($tablet - 1px)) {
    max-width: 230px;
    gap: 25px;

    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    max-width: 616px;
  }

  @media screen and (min-width: $desctop) {
    max-width: 1084px;
  }
}

.advantages__item {
}

.advantages__title {
  @include font(700, 36px, 42px);
  text-transform: uppercase;
  color: $text-light-color;
  margin-bottom: 18px;

  @media screen and (min-width: $tablet) {
    @include font(700, 48px, 59px);
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desctop) {
    @include font(700, 58px, 71px);
    margin-bottom: 12px;
  }
}

.advantages__text {
  @include font(400, 12px, 20px);
  color: $text-light-color;
  margin-bottom: 22px;

  @media screen and (min-width: $tablet) {
    @include font(400, 14px, 24px);
    margin-bottom: 0;
  }

  @media screen and (min-width: $desctop) {
    @include font(400, 16px, 28px);
  }
}

.advantages__img {
  width: 50px;
  height: 50px;

  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desctop) {
    margin-bottom: 40px;
  }
}

// .advantages__list {
//   gap: 34px;
//   padding-top: 40px;
//   padding-bottom: 36px;

//   @media screen and (min-width: $tablet) {
//     padding-bottom: 40px;
//   }
//   @media screen and (min-width: $desctop) {
//     padding-bottom: 86px;
//   }
// }

// .advantages__text {
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.7;
//   letter-spacing: 0.02em;
//   color: $text-light-color;
// }

// .advantages__img {
//   width: 50px;
//   height: 50px;

//   margin-bottom: 16px;

//   @media screen and (min-width: $tablet) {
//     margin-bottom: 32px;
//   }
//   @media screen and (min-width: $desctop) {
//     margin-bottom: 40px;
//   }
// }

// .advantages__item {
//   text-align: center;

//   display: flex;
//   flex-direction: column;

//   align-items: center;
// }

// .advantages__item:not(:last-child) {
//   margin-bottom: 28px;
// }

// .advantages__title {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
//   color: $text-light-color;
//   margin-bottom: 18px;
// }

// //
// //
// //
// // ============MOBILE============
// //
// //
// //

// @media screen and (min-width: 320px) and (max-width: 767px) {
//   .advantages {
//     max-width: 320px;
//     padding-left: 20px;
//     padding-right: 20px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// // ============/MOBILE============
// //
// //
// //
// //
// // ============TABLET============

// @media screen and (min-width: 768px) {
//   .advantages {
//     width: 768px;
//     padding-left: 32px;
//     padding-right: 32px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .advantages__item {
//     text-align: center;
//   }

//   .advantages__list {
//     display: flex;
//     gap: 80px;
//     padding-top: 60px;

//     padding-left: 44px;
//     padding-right: 44px;
//   }

//   .advantages__title {
//     font-weight: 700;
//     font-size: 48px;
//     line-height: 1.22;
//     letter-spacing: 0.04em;
//     text-transform: uppercase;
//     color: $text-light-color;
//     margin-bottom: 16px;
//   }

//   .advantages__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.74;
//     letter-spacing: 0.02em;
//     color: $text-light-color;
//   }

//   .advantages__img {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 32px;
//   }
// }

// //============/TABLET============
// //
// //
// //
// //
// //============DESKTOP============

// @media screen and (min-width: 1200px) {
//   .advantages {
//     width: 1200px;
//     padding-left: 16px;
//     padding-right: 16px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .advantages__list {
//     gap: 32px;
//     padding-top: 60px;

//     padding-left: 0;
//     padding-right: 0;
//   }

//   .advantages__img {
//     margin-bottom: 40px;
//   }

//   .advantages__title {
//     font-size: 58px;
//     line-height: 1.22;
//     margin-bottom: 16px;
//   }

//   .advantages__text {
//     font-size: 16px;
//     line-height: 1.76;
//   }
// }

// //============/DESKTOP============
