.section__advantages {
  padding-top: 40px;
  padding-bottom: 36px;

  @media screen and (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 88px;
  }
}

.container__advantages {
  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages {
  width: 100%;
  display: flex;
  text-align: center;
  margin: auto;

  @media screen and (max-width: ($tablet - 1px)) {
    max-width: 230px;
    gap: 25px;

    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    max-width: 616px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1084px;
  }
}

.advantages__item {
}

.advantages__title {
  @include font(700, 36px, 42px);
  text-transform: uppercase;
  color: $text-light-color;
  margin-bottom: 18px;

  @media screen and (min-width: $tablet) {
    @include font(700, 48px, 59px);
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    @include font(700, 58px, 71px);
    margin-bottom: 12px;
  }
}

.advantages__text {
  @include font(400, 12px, 20px);
  color: $text-light-color;
  margin-bottom: 22px;

  @media screen and (min-width: $tablet) {
    @include font(400, 14px, 24px);
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    @include font(400, 16px, 28px);
  }
}

.advantages__img {
  width: 50px;
  height: 50px;

  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}
