.contact-btn__locations {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $text-simple-dark-color;
  background-color: $brand-second-color;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: $focus-color;
  }
  &:focus {
    color: $text-light-color;
    background-color: $focus-color;
  }
  &:default {
    background-color: $disabled-color;
  }
}

.contact-btn__franchise {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $text-simple-dark-color;
  background-color: $brand-second-color;
  border: 2px solid $brand-second-color;
  border-radius: 10px;
  background-color: $brand-main-color;
  &:hover {
    border-color: $focus-color;
  }
  &:focus {
    color: $text-light-color;
    border-color: $focus-color;
  }
  &:default {
    border-color: $disabled-color;
  }
}

@media screen and (max-width: 767px) {
  .contact-btn__locations {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

  .contact-btn__franchise {
    margin-left: auto;
    margin-right: auto;
  }
  .container_second {
    position: relative;
    height: 1130px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 39px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_contacts {
    top: -345px;
    position: absolute;
  }

  .contacts {
    background-color: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    width: 100%;
    max-width: 320px;
    padding: 40px 32px;
    font-family: $font-main;

    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .contacts_title {
    display: inline-block;
    padding-left: 23px;
    padding-right: 23px;
    // text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: $text-light-color;
    border: none;
    border-radius: 4px;
    background-color: $brand-second-color;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .contacts_item {
    &:not(:last-child) {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #e1e1e1;
    }
  }

  .contacts_list-titel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: $text-simple-dark-color;
    margin-bottom: 8px;
  }

  .contacts_list-adress {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: $card-third-color;
  }

  .contacts_list-schedule {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: $text-simple-dark-color;
  }

  .contacts_list-hours {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: $disabled-color;
  }

  .contacts_link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: $text-dark-color;
  }
}
@media screen and (min-width: $tablet) {
  .container_second {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 39px;
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_contacts {
    position: absolute;
    top: -314px;
    display: flex;
    gap: 16px;
    margin-bottom: 60px;
  }

  .contacts {
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    width: 100%;
    padding: 40px 27px 40px 24px;
    font-family: $font-main;
  }

  .contacts_title {
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-dark-color;
    border: none;
    border-radius: 4px;
    background-color: $brand-second-color;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .contacts_item {
    &:not(:last-child) {
      margin-bottom: 32px;
      padding-bottom: 26px;
      border-bottom: 1px solid #e1e1e1;
    }
  }

  .contacts_list-titel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
    color: $text-simple-dark-color;
    margin-bottom: 12px;
  }

  .contacts_list-adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
    color: $card-third-color;
  }

  .contacts_list-schedule {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
    color: $text-dark-color;
  }

  .contacts_list-hours {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
    color: $disabled-color;
  }

  .contacts_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    color: $text-dark-color;
  }

  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: baseline;
    gap: 16px;
  }
}

@media screen and (min-width: $desctop) {
  .container_second {
    position: relative;
    width: 1170px;
    height: 566px;
  }

  .container_contacts {
    top: -100px;
    gap: 32px;
    margin-bottom: 64px;
  }

  .contacts {
    padding: 40px;
  }

  .contacts_item:not(:last-child) {
    padding-bottom: 26px;
  }

  .contacts_list-titel {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 8px;
  }

  .contacts_list-adress {
    font-size: 16px;
    line-height: 1.8;
  }

  .contacts_list-schedule {
    font-size: 16px;
    line-height: 1.87;
  }

  .contacts_list-hours {
    font-size: 16px;
    line-height: 1.87;
  }

  .contacts_link {
    font-size: 16px;
    line-height: 1.8;
  }

  .contact-btn {
    gap: 18px;
  }
}
