.footer {
  padding-top: 38px;
  padding-bottom: 62px;

  @media screen and(min-width:$tablet) {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  @media screen and(min-width:$desctop) {
    padding-top: 120px;
    padding-bottom: 12px;
  }
}

.footer__box {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__titles {
  text-align: start;
  width: 100%;

  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 42px;
    max-width: 246px;
  }

  @media screen and(min-width:$tablet) {
    max-width: 352px;
  }

  @media screen and(min-width:$desctop) {
    max-width: 520px;
  }
}

.footer__sub-title {
  margin-bottom: 16px;

  @include font(700, 18px, 22px);
  text-transform: uppercase;
  color: $text-light-color;

  @media screen and(min-width:$tablet) {
    margin-bottom: 10px;
    @include font(700, 26px, 32px);
  }

  @media screen and(min-width:$desctop) {
    margin-bottom: 14px;
    @include font(700, 30px, 37px);
  }
}

.footer__title {
  @media screen and (max-width: ($tablet - 1px)) {
    @include font(700, 34px, 41px, 0.06em);
  }
  text-transform: uppercase;
  color: $text-light-color;

  @media screen and(min-width:$tablet) {
    @include font(700, 48px, 59px, 0.06em);
  }

  @media screen and(min-width:$desctop) {
    @include font(700, 58px, 71px, 0.06em);
  }
}

.footer__contacts {
  text-align: right;
  @media screen and (min-width: $tablet) and (max-width: ($desctop - 1px)) {
    padding-top: 68px;
  }

  @media screen and (min-width: $desctop) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.socials--position {
  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 38px;
  }

  @media screen and(min-width:$tablet) and (max-width: ($desctop - 1px)) {
    margin-bottom: 32px;
  }
}

.footer__tel-text {
  @include font(700, 12px, 22px);
  text-align: right;
  color: $text-dark-color;

  @media screen and(min-width:$tablet) {
    @include font(700, 14px, 26px);
  }

  @media screen and(min-width:$desctop) {
    @include font(700, 16px, 30px);
  }
}

.footer__tel-link {
  color: $text-light-color;
}

.footer__copyright-box {
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
  margin-top: 40px;

  display: flex;
  justify-content: center;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-direction: column;
  }

  @media screen and(min-width:$tablet) {
    padding-top: 14px;
    margin-top: 32px;
  }
  @media screen and(min-width:$desctop) {
    padding-top: 12px;
    margin-top: 54px;
  }
}

.footer__copyright {
  @include font(700, 14px, 21px);
  text-align: center;
  color: #7a7a7a;

  @media screen and(min-width:$tablet) {
    @include font(700, 14px, 26px);
  }

  @media screen and(min-width:$desctop) {
    // padding-top: 12px;
    // margin-top: 54px;
    @include font(700, 12px, 22px);
  }
}
