.footer {
  padding-top: 38px;
  padding-bottom: 62px;

  @media screen and(min-width:$tablet) {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  @media screen and(min-width:$desctop) {
    padding-top: 120px;
    padding-bottom: 12px;
  }
}

.footer__box {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__titles {
  text-align: start;
  width: 100%;

  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 42px;
    max-width: 246px;
  }

  @media screen and(min-width:$tablet) {
    max-width: 352px;
  }

  @media screen and(min-width:$desctop) {
    max-width: 520px;
  }
}

.footer__sub-title {
  margin-bottom: 16px;

  @include font(700, 18px, 22px);
  text-transform: uppercase;
  color: $text-light-color;

  @media screen and(min-width:$tablet) {
    margin-bottom: 10px;
    @include font(700, 26px, 32px);
  }

  @media screen and(min-width:$desctop) {
    margin-bottom: 14px;
    @include font(700, 30px, 37px);
  }
}

.footer__title {
  @media screen and (max-width: ($tablet - 1px)) {
    @include font(700, 34px, 41px, 0.06em);
  }
  text-transform: uppercase;
  color: $text-light-color;

  @media screen and(min-width:$tablet) {
    @include font(700, 48px, 59px, 0.06em);
  }

  @media screen and(min-width:$desctop) {
    @include font(700, 58px, 71px, 0.06em);
  }
}

.footer__contacts {
  text-align: right;
  @media screen and (min-width: $tablet) and (max-width: ($desctop - 1px)) {
    padding-top: 68px;
  }

  @media screen and (min-width: $desctop) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.socials--position {
  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 38px;
  }

  @media screen and(min-width:$tablet) and (max-width: ($desctop - 1px)) {
    margin-bottom: 32px;
  }
}

.footer__tel-text {
  @include font(700, 12px, 22px);
  text-align: right;
  color: $text-dark-color;

  @media screen and(min-width:$tablet) {
    @include font(700, 14px, 26px);
  }

  @media screen and(min-width:$desctop) {
    @include font(700, 16px, 30px);
  }
}

.footer__tel-link {
  color: $text-light-color;
}

.footer__copyright-box {
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
  margin-top: 40px;

  display: flex;
  justify-content: center;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-direction: column;
  }

  @media screen and(min-width:$tablet) {
    padding-top: 14px;
    margin-top: 32px;
  }
  @media screen and(min-width:$desctop) {
    padding-top: 12px;
    margin-top: 54px;
  }
}

.footer__copyright {
  @include font(700, 14px, 21px);
  text-align: center;
  color: #7a7a7a;

  @media screen and(min-width:$tablet) {
    @include font(700, 14px, 26px);
  }

  @media screen and(min-width:$desctop) {
    // padding-top: 12px;
    // margin-top: 54px;
    @include font(700, 12px, 22px);
  }
}

// border-bottom: 1px solid #e1e1e1;

// @media screen and(min-width:$tablet) {
//   display: flex;
//   justify-content: space-between;
//   padding-bottom: 32px;
// }
// .footer-desc {
//   width: 250px;

//   @media screen and(max-width:767px) {
//     margin-bottom: 42px;
//   }
//   @media screen and (min-width: $tablet) {
//     width: 350px;
//   }
//   @media screen and(min-width:$desctop) {
//     width: 510px;
//   }
// }

// .footer-desc__first-part {
//   @include font(700, 18px, 22px);

//   text-transform: uppercase;
//   color: $text-light-color;
//   margin-bottom: 16px;

//   @media screen and (min-width: $tablet) {
//     @include font(700, 26px, 32px);
//     margin-bottom: 9px;
//   }
//   @media screen and (min-width: $desctop) {
//     @include font(400, 30px, 37px);
//     margin-bottom: 14px;
//   }
// }

// .footer-desc__second-part {
//   @include font(700, 34px, 41px);

//   display: block;
//   text-transform: uppercase;
//   color: $text-light-color;

//   @media screen and (min-width: $tablet) {
//     @include font(700, 48px, 59px, 0.06em);
//   }

//   @media screen and (min-width: $desctop) {
//     @include font(700, 58px, 71px, 0.06em);
//   }
// }

// .footer-social {
//   display: flex;
//   flex-direction: column;
//   align-items: end;
//   justify-content: end;
// }

// .socials {
//   display: flex;

//   margin-bottom: 40px;
//   @media screen and(max-width:767px) {
//     gap: 28px;
//     width: 152px;
//   }
//   @media screen and(min-width:$tablet) {
//     gap: 30px;
//     width: 162px;
//   }
// }

// .socials__item {
//   width: 32px;
//   height: 32px;
//   @media screen and (min-width: $tablet) {
//     width: 34px;
//     height: 34px;
//   }
// }

// .socials__link {
//   fill: inherit;
// }

// .footer-contacts {
//   @include font(700, 12px, 22px, 0.02em);
//   color: $text-dark-color;

//   @media screen and(min-width:$tablet) {
//     @include font(700, 14px, 26px, 0.02em);
//   }

//   @media screen and(min-width:$desctop) {
//     @include font(700, 16px, 30px, 0.02em);
//   }
// }

// .footer-contacts__link {
//   color: #ffffff;
// }

// // .footer-contacts__desc {

// // }

// .footer-finally-desc {
//   text-align: center;
//   border-top: 1px solid #e1e1e1;

//   @include font(700, 14px, 21px, 0.02em);
//   color: $text-dark-color;
//   color: #7a7a7a;
//   padding-top: 16px;
//   padding-bottom: 62px;

//   @media screen and(min-width:$tablet) {
//     @include font(700, 14px, 26px, 0.02em);
//     padding-top: 13px;
//     padding-bottom: 13px;
//   }

//   @media screen and(min-width:$desctop) {
//     @include font(700, 12px, 22px, 0.02em);
//     padding-top: 12px;
//     padding-bottom: 12px;
//   }
// }

// .copyright {
//   @media screen and(max-width:767px) {
//     display: block;
//   }
// }
