.gallery__img {
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: -34px;
  transform: translate(-50%, 0);
}

.section__gallery {
  background-image: url('../images/mobile/bg-fourth-screen-1x-min.jpg');
  background-size: cover;
  position: relative;
  //   padding-top: 100%;
}

//
//
//
// ============MOBILE============
//
//
//

@media screen and (max-width: 767px) {
  .gallery__img {
    width: 320px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section__gallery {
    background-image: url('../images/mobile/bg-fourth-screen-2x-min.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
  screen and (min-resolution: 288dpi) and (max-width: 767px),
  screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .section__gallery {
    background-image: url('../images/mobile/bg-fourth-screen-3x-min.jpg');
  }
}

// ============/MOBILE============
//
//
//
//
// ============TABLET============

@media screen and (min-width: 768px) {
  .section__gallery {
    background-image: url('../images/tablet/bg-fourth-screen-1x-min.jpg');
    background-size: cover;
    position: relative;
    // padding-top: 100%;
  }

  .gallery__img {
    border-radius: 18px;
    top: -164px;
    width: 704px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section__gallery {
    background-image: url('../images/tablet/bg-fourth-screen-2x-min.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
  screen and (min-resolution: 288dpi) and (min-width: 768px),
  screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .section__gallery {
    background-image: url('../images/tablet/bg-fourth-screen-3x-min.jpg');
  }
}

//============/TABLET============
//
//
//
//
//============DESKTOP============

@media screen and (min-width: 1200px) {
  .section__gallery {
    background-image: url('../images/desctop/bg-fourth-screen-1x-min.jpg');
    background-size: cover;
    position: relative;
    // padding-top: 100%;
  }

  .gallery__img {
    border-radius: 24px;
    top: -94px;
    width: 1013px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section__gallery {
    background-image: url('../images/desctop/bg-fourth-screen-2x-min.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
  screen and (min-resolution: 288dpi) and (min-width: 1200px),
  screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .section__gallery {
    background-image: url('../images/desctop/bg-fourth-screen-3x-min.jpg');
  }
}
