.gallery__img {
  width: 320px;
  border-radius: 7px;
  overflow: hidden;

  transform: translate(-50%, 0);

  @media screen and (min-width: 768px) {
    width: 704px;
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    width: 1013px;
    border-radius: 24px;
  }
}

.section__gallery {
  background-image: url('../images/mobile/mobile-bg-fourth-screen-1x-min.jpg');
  background-size: cover;
  position: relative;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('../images/mobile/mobile-bg-fourth-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
    screen and (min-resolution: 288dpi) and (max-width: 767px),
    screen and (min-resolution: 3dppx) and (max-width: 767px) {
    background-image: url('../images/mobile/mobile-bg-fourth-screen-3x-min.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-fourth-screen-1x-min.jpg');
    background-size: cover;
    position: relative;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-fourth-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
    screen and (min-resolution: 288dpi) and (min-width: 768px),
    screen and (min-resolution: 3dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-fourth-screen-3x-min.jpg');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/desctop/desc-bg-fourth-screen-1x-min.jpg');
    background-size: cover;
    position: relative;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url('../images/desctop/desc-bg-fourth-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
    screen and (min-resolution: 288dpi) and (min-width: 1200px),
    screen and (min-resolution: 3dppx) and (min-width: 1200px) {
    background-image: url('../images/desctop/desc-bg-fourth-screen-3x-min.jpg');
  }
}
