.bg-two-sections {
  background-image: linear-gradient(
      to bottom,
      $brand-main-color 24px,
      #fff 24px,
      #fff 130px,
      $trasparent-color 130px
    ),
    url('../images/mobile/mobile-bg-fourth-screen-1x-min.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/mobile-bg-fourth-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/mobile/mobile-bg-fourth-screen-3x-min.jpg');
  }

  // tablet
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        $brand-main-color 164px,
        $trasparent-color 164px
      ),
      url('../images/tablet/tablet-bg-fourth-screen-1x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-fourth-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
    screen and (min-resolution: 288dpi) and (min-width: 768px),
    screen and (min-resolution: 3dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-fourth-screen-3x-min.jpg');
  }

  // desktop
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to bottom,
        $brand-main-color 92px,
        $trasparent-color 92px
      ),
      url('../images/desktop/desk-bg-fourth-screen-1x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url('../images/desktop/desk-bg-fourth-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
    screen and (min-resolution: 288dpi) and (min-width: 1200px),
    screen and (min-resolution: 3dppx) and (min-width: 1200px) {
    background-image: url('../images/desktop/desk-bg-fourth-screen-3x-min.jpg');
  }
}

.gallery {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gallery__img {
  width: 280px;
  height: 130px;
  display: flex;
  justify-content: center;

  border-radius: 7px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}
