.container__header {
  position: relative;
}

.header {
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding-top: 12px;
  align-items: center;

  // necessary duplicate container's properties, because the container doesn't word even with "position:relative"
  // повторюються властивості контейнеру, бо сам контейнер не спрацьовує навіть з position:relative;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 20px;
  // padding-right: 20px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    // padding-left: 32px;
    // padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
    // padding-left: 16px;
    // padding-right: 16px;
  }

  // necessary duplicate container's properties, because the container doesn't work even with "position: relative"
  // повторюються властивості контейнар, бо сам контейнер не спрацьовує навіть з position:relative;

  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
    padding-top: 20px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 28px;
  }
}

.btn-filled__header {
  margin-left: 32px;

  @media screen and (max-width: ($tablet - 1)) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}

.menu {
  display: flex;
  margin-left: 268px;
  padding: 12px 0;
}

@media screen and (max-width: ($desktop - 1)) {
  .menu {
    display: none;
  }
}

.menu__item {
  &:not(:last-child) {
    margin-right: 27px;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: $text-light-color;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $brand-second-color;
  }
}
