//-----------------------modal-window---------------------------------------------------------------//
.modal {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  max-width: 280px;
  padding: 28px;

  border: 2px solid #f8d24e;
  border-radius: 10px;

  background-color: $text-light-color;

  transform: translate(-50%, -50%);
  // transition: transform var(--transition);

  @media screen and (min-width: $tablet) {
    padding: 32px 60px;
    max-width: 568px;
  }
}

.video {
  margin-bottom: 20px;
  // width: 224px;
  // height: 200px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.modal__title {
  margin-bottom: 20px;

  font-family: $font-title;

  font-size: 16px;
  line-height: 1.5;

  text-align: center;

  color: $text-dark-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.modal__text {
  font-family: $font-main;
  font-size: 14px;
  line-height: 1.428571428571429;

  color: $text-dark-color;
}
