.modal-buy {
  padding: 28px 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid $brand-second-color;
  border-radius: 10px;

  max-height: calc(100vh - 30px);

  @media screen and(max-width:320px) {
    width: 95%;
    max-width: 320px;
  }
  @media screen and(min-width:321px) and (max-width: 767px) {
    width: 320px;
  }
  @media screen and(min-width:$tablet) {
    padding: 32px 54px;
    width: 568px;
  }
}

.modal-buy__title {
  font-family: $font-title;
  @include font(400, 16px, 24px, 0.04em);
  text-align: center;
  max-width: 322px;
  margin: 0 auto 83px;

  @media screen and (min-width: $tablet) {
    @include font(400, 20px, 28px, 0.04em);
    width: 100%;
    margin: 0 auto 103px;
  }
}

.buy-form {
  margin-top: 24px;
}

.buy-form__list {
  @media screen and(min-width:$tablet) {
    margin: 0 auto;
    width: 368px;
  }
}

.buy-form__item:not(:last-child) {
  margin-bottom: 12px;
  @media screen and(max-width:$tablet) {
    margin-bottom: 16px;
  }
}

.buy-form__input {
  cursor: pointer;
  width: 100%;
  height: 42px;
  border: 1px solid $brand-main-color;
  border-radius: 10px;
  transition: border-color $transition;
  @include font(400, 12px, 17px, 0.04em);
  padding: 11px 16px;

  &::placeholder {
    @include font(400, 12px, 17px, 0.04em);
    color: $text-simple-dark-color;
  }
  &:focus,
  &:hover {
    border-color: #f8d24e;
    outline: none;
  }
  @media screen and(min-width:$tablet) {
    @include font(400, 14px, 20px, 0.04em);

    &::placeholder {
      @include font(400, 14px, 20px, 0.04em);
      color: $text-simple-dark-color;
    }
  }
}

.buy-form__message {
  display: block;
  resize: none;
  width: 100%;
  height: 64px;
  padding: 11px 16px;
  border: 1px solid $brand-main-color;
  border-radius: 10px;
  @include font(400, 12px, 17px, 0.04em);
  cursor: pointer;
  transition: border-color $transition;

  &::placeholder {
    @include font(400, 12px, 17px, 0.04em);
    color: $text-simple-dark-color;
  }
  &:focus,
  &:hover {
    border-color: #f8d24e;
    outline: none;
  }
  @media screen and(min-width:$tablet) {
    height: 84px;
    @include font(400, 14px, 20px, 0.04em);

    &::placeholder {
      @include font(400, 14px, 20px, 0.04em);
      color: $text-simple-dark-color;
    }
  }
}

.buy-form__submit {
  display: flex;
  margin: 24px auto 0;
  padding: 7px 43px;
  border: none;
  background-color: $brand-second-color;
  border-radius: 10px;
  color: inherit;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color $transition, color $transition;
  @include font(600, 14px, 17px, 0.04em);

  @media screen and(min-width:$tablet) {
    margin: 32px auto 0;
    padding: 12px 43px;
  }

  &:focus,
  &:hover {
    background-color: $brand-main-color;
    color: #fff;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .buy__item:nth-child(1)::after {
    background-image: url('../images/mobile/mobile-products01-2x-min.png');
  }
  .buy__item:nth-child(2)::after {
    background-image: url('../images/mobile/mobile-products02-2x-min.png');
  }
  .buy__item:last-child::after {
    background-image: url('../images/mobile/mobile-products03-2x-min.png');
  }
}

.section__title {
  font-family: $font-title;
  @include font(400, 30px, 38px, 0.04em);
  text-align: center;
  text-transform: uppercase;
}

.buy__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 83px;
  @media screen and(min-width:$tablet) {
    flex-direction: row;
  }
}

.buy__item {
  position: relative;
  padding: 85px 0 20px 0;
  text-align: center;
  width: 130px;

  box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.buy__item:nth-child(1) {
  background-color: #fff;
  border: 2px solid $card-first-color;
}

.buy__item::before {
  content: '';
  position: absolute;
  width: 132px;

  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -55.3%);
}
.buy__item::after {
  content: '';
  position: absolute;
  width: 132px;

  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  top: 15px;
  left: 50%;
  // z-index: 20;
  transform: translate(-50%, -61%);
}

.buy__item:nth-child(1)::before {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgb(10 136 23 / 25%);
}

.buy__item:nth-child(1)::after {
  background-image: url('../images/mobile/mobile-products01-1x-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buy__item:nth-child(2) {
  background-color: #efd478;
}
.buy__item:nth-child(2)::before {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgb(153 114 23 / 25%);
}
.buy__item:nth-child(2)::after {
  background-image: url('../images/mobile/mobile-products02-1x-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buy__item:nth-child(3) {
  background-color: #fff;
  border: 2px solid $card-third-color;
}
.buy__item:last-child::before {
  margin-right: 0px;
  background-color: #d6936d;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 25%);
}
.buy__item:last-child::after {
  background-image: url('../images/mobile/mobile-products03-1x-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buy__title {
  @include font(700, 16px, 20px, 0.04em);
  text-align: center;
  text-transform: uppercase;

  color: $text-dark-color;
}

@media screen and (min-width: 768px) {
  .section__title {
    @include font(400, 34px, 43px, 0.04em);
  }
  .buy__list {
    column-gap: 32px;

    align-items: center;
  }

  .buy__item:nth-child(1)::after {
    background-image: url('../images/tablet/tablet-products01-1x-min.png');
  }

  .buy__item:nth-child(2)::after {
    background-image: url('../images/tablet/tablet-products02-1x-min.png');
  }

  .buy__item:last-child::after {
    background-image: url('../images/tablet/tablet-products03-1x-min.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .buy__item:nth-child(1)::after {
    background-image: url('../images/tablet/tablet-products01-2x-min.png');
  }
  .buy__item:nth-child(2)::after {
    background-image: url('../images/tablet/tablet-products02-2x-min.png');
  }
  .buy__item:last-child::after {
    background-image: url('../images/tablet/tablet-products03-2x-min.png');
  }
}
