.products {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    padding-bottom: 82px;
  }

  background-image: url('../images/mobile/mobile-bg-second-screen-1x-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/mobile-bg-second-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/mobile/mobile-bg-second-screen-3x-min.jpg');
  }

  // tablet
  @media screen and (min-width: 768px) {
    padding-bottom: 82px;
    background-image: url('../images/tablet/tablet-bg-second-screen-1x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-second-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
    screen and (min-resolution: 288dpi) and (min-width: 768px),
    screen and (min-resolution: 3dppx) and (min-width: 768px) {
    background-image: url('../images/tablet/tablet-bg-second-screen-3x-min.jpg');
  }

  // desktop
  @media screen and (min-width: 1200px) {
    background-image: url('../images/desktop/desk-bg-second-screen-1x-min.jpg');
    padding-bottom: 66px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url('../images/desktop/desk-bg-second-screen-2x-min.jpg');
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
    screen and (min-resolution: 288dpi) and (min-width: 1200px),
    screen and (min-resolution: 3dppx) and (min-width: 1200px) {
    background-image: url('../images/desktop/desk-bg-second-screen-3x-min.jpg');
  }
}

.section__sub-title--products-position {
  padding-bottom: 12px;
}

.section__title--products-position {
  margin-bottom: 148px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 200px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 303px;
  }
}

.products-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 164px;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.products-cards__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 280px;
  height: 420px;

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 122px;

  border-radius: 24px;
  background-color: #aec6a5;

  &:nth-child(2) {
    background-color: #efd478;
  }

  &:nth-child(3) {
    background-color: #d6936d;
  }

  @media screen and (min-width: $tablet) {
    max-width: 224px;
    height: 428px;

    padding-left: 26px;
    padding-right: 26px;
    padding-top: 106px;

    border-radius: 16px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 370px;
    height: 536px;

    padding-left: 62px;
    padding-right: 62px;
    padding-bottom: 50px;
    padding-top: 166px;

    border-radius: 24px;
  }
}

.products-cards__item::after {
  content: '';
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  width: 200px;
  height: 210px;
  border-radius: 50%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top 0px, left bottom 0px;

  background-image: url('../images/mobile/mobile-products01-1x-min.png'),
    linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/mobile-products01-2x-min.png'),
      linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/mobile/mobile-products01-3x-min.png'),
      linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }

  @media screen and (min-width: $tablet) {
    top: -120px;
    background-image: url('../images/tablet/tablet-products01-1x-min.png'),
      linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/tablet/tablet-products01-2x-min.png'),
        linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        );
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/tablet/tablet-products01-3x-min.png'),
        linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        );
    }
  }

  @media screen and (min-width: $desktop) {
    top: -182px;

    width: 300px;
    height: 316px;

    background-image: url('../images/desktop/desk-products01-1x-min.png'),
      linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/desk-products01-2x-min.png'),
        linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        );
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/desktop/desk-products01-3x-min.png'),
        linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        );
    }
  }
}

.products-cards__item:nth-child(2)::after {
  background-image: url('../images/mobile/mobile-products02-1x-min.png'),
    linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/mobile-products02-2x-min.png'),
      linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/mobile/mobile-products02-3x-min.png'),
      linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }

  // tablet
  @media screen and (min-width: $tablet) {
    background-image: url('../images/tablet/tablet-products02-1x-min.png'),
      linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/tablet/tablet-products02-2x-min.png'),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/tablet/tablet-products02-3x-min.png'),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    }
  }

  // desktop
  @media screen and (min-width: $desktop) {
    background-image: url('../images/desktop/desk-products02-1x-min.png'),
      linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/desk-products02-2x-min.png'),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/desktop/desk-products02-3x-min.png'),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    }
  }
}

.products-cards__item:nth-child(3)::after {
  background-image: url('../images/mobile/mobile-products03-1x-min.png'),
    linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/mobile-products03-2x-min.png'),
      linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/mobile/mobile-products03-3x-min.png'),
      linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }

  // tablet
  @media screen and (min-width: $tablet) {
    background-image: url('../images/tablet/tablet-products03-1x-min.png'),
      linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/tablet/tablet-products03-2x-min.png'),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/tablet/tablet-products03-3x-min.png'),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    }
  }

  // desktop
  @media screen and (min-width: $desktop) {
    background-image: url('../images/desktop/desk-products03-1x-min.png'),
      linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/desk-products03-2x-min.png'),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/desktop/desk-products03-3x-min.png'),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    }
  }
}

.products-cards__title {
  margin-bottom: 40px;

  text-transform: uppercase;
  color: #131313;
  color: $text-dark-color;
  @include font(700, 20px, 24px);

  @media screen and (min-width: $tablet) {
    @include font(700, 22px, 27px);
  }

  @media screen and (min-width: $desktop) {
    @include font(700, 30px, 37px);
  }
}

.products-cards__text {
  margin-bottom: auto;

  @include font(400, 14px, 25px);
  color: $text-dark-color;

  @media screen and (min-width: $desktop) {
    @include font(400, 16px, 28px);
  }
}
