.section__reviewers {
  padding-top: 186px;
  padding-bottom: 394px;
  background-image: url('../images/mobile/mobile-bg-fourth-screen-1x-min.jpg');
  background-size: cover;

  @media screen and (min-width: $tablet) {
    padding-top: 220px;
    padding-bottom: 384px;
    background-image: url('../images/tablet/tablet-bg-fourth-screen-1x-min.jpg');
  }

  @media screen and (min-width: $desctop) {
    padding-top: 480px;
    padding-bottom: 200px;
    background-image: url('../images/desctop/desc-bg-fourth-screen-1x-min.jpg');
  }
}

.reviewers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewers__img {
  margin-bottom: 30px;
}

.reviewers__text {
  margin-bottom: 30px;

  width: 280px;
  height: 256px;
  padding: 34px 39px;
  background-color: $brand-main-color;
  border-radius: 10px;

  font-size: 12px;
  line-height: 2.583333333333333;
  text-align: center;

  color: $text-light-color;

  @media screen and (min-width: $tablet) {
    width: 705px;
    height: 138px;
    padding: 28px 80px;
    border-radius: 24px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.857142857142857;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: $desctop) {
    width: 968px;
    padding: 39px 80px;

    font-size: 16px;
    line-height: 1.875;
  }
}

.reviewers__title {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;

  color: $text-simple-dark-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.875;
  }
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-dots li.slick-active button:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: $brand-main-color;
  border-radius: 50%;
}

.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  opacity: 1;
}
